body {
    background-color: white;
}

.btn-small {
    margin: 5px;
}

.btn-large {
    align-items: center;
}

.prefix {
    text-decoration: underline;
}

footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
