body {
    background-color: white;
}

.card-image {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd
}

.btn-small {
    margin: 5px;
}

.btn-large {
    align-items: center;
}

.method {
    text-decoration: underline;
}

footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
