{% extends "base.html" %}
{% block content %}

<h3> About Us </h3>

<p>Our Recipes Store is a website designed to be a place of inspiration along 
    with the knowledge that all the recipes here are tried and true by our generous users.</p>
<p>All the recipes here have been uploaded by our users for you to browse and
     enjoy trying something that perhaps you've never tried before, or a recipe that you've
      eaten in the past and always wanted to try out for yourself.</p>
<p>Our recipes are ones that have been made over and over by our users and are foolproof as
     long as you follow all the steps!</p>

<p>We'd love for you to join our growing community and share your much loved and used recipes
     - so pop on over to the register page and get uploading!</p>




{% endblock %}