{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix"></i>
                    <input id="serves" name="serves" type="text" class="validate" required>
                    <label for="serves">Serves:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix"></i>
                    <input id="cooking_time" name="cooking_time" type="time" class="validate" required>
                    <label for="cooking_time">Cooking Time:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                        <i class="prefix"></i>
                        <input id="ingredients" name="ingredients" minlength="5" 
                                maxlength="500" type="text" textarea id="ingredients" class="materialize-textarea validate" 
                                required></textarea>
                        <label for="ingredients">Ingredients:</label>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="input-field col s12">
                        <i class="prefix"></i>
                        <input id="method" name="method" minlength="5" 
                            maxlength="1000" type="text" textarea id="method" class="materialize-textarea validate" 
                            required></textarea>
                        <label for="method">Method:</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix"></i>
                    <input id="link" name="link" 
                        maxlength="1000" type="url" required>
                    <label for="link">Please paste a link to an image of your recipe here:</label>
                </div>
            </div>
        </div>
            <div class="row">
                <button type="submit" class="col s12 btn-large #4a148c purple darken-4 text-shadow">
                    Submit Recipe <i class="fas fa-sign-in-alt"></i>
                </button>
            </div> 
        </form>
    </div>

{% endblock %}