{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Recipe Instructions</h3>

<div class="row">
  <div class="row">
    <div class="card" method="POST" action="{{ url_for('show_recipe', recipe_id=recipe._id) }}">
        <div class="card-image">
          <img src= {{ recipe.img }} alt="Shepherd Pie">
          <strong>{{ recipe.recipe_name}}</strong>
          <p>{{ recipe.serves }} </p>
          <p>{{ recipe.cooking_time}} </p>
          <p>{{ recipe.ingredients }}</p>
          <p>{{ recipe.method }}</p>
          <p>{{ recipe.created_by }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}